@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(0.2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInUp {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  80% {
    transform: translateY(0.5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #011801; }

body {
  color: #444;
  /* height: 100vh;  will help center the app in the middle of the height 
    overflow: hidden; no scroll bars */ }

.main {
  background-color: #f7f7f7; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
  backface-visibility: hidden; }
  .heading-1--main {
    display: inline-block;
    font-size: 4rem;
    letter-spacing: 1rem;
    animation: moveInLeft 3s ease-in; }
  .heading-1--main-sec {
    color: #ff8a00; }
  .heading-1--secondary {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.4rem;
    animation: moveInRight 3s ease-in; }

.heading-2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 1.6rem;
  background-image: linear-gradient(to right, #60d65b, #011801);
  display: inline-block;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 2; }

.heading-2-white {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff; }

.heading-3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #f7f7f7;
  display: inline-block; }
  .heading-3__back {
    font-size: 10rem;
    color: #eee;
    position: absolute;
    text-transform: uppercase;
    top: -41px;
    left: 42px;
    z-index: 1; }

.heading-4 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-5 {
  font-size: 3rem;
  color: #011801; }

.u-text-center {
  text-align: center; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-mb-big-med {
  margin-bottom: 6rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-small {
  margin-bottom: 2rem; }

.u-pt-big {
  padding-top: 8rem; }

.u-pt-big-med {
  padding-top: 6rem; }

.u-text-cut {
  -webkit-text-decoration-line: line-through;
  /* Safari */
  text-decoration-line: line-through; }

.pos-rel {
  position: relative; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--secondary {
  color: #ffffff;
  background-color: #ff8a00; }
  .btn--secondary::after {
    background-color: #ff8a00; }

.btn--white {
  color: #023300;
  background-color: #ffffff; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--white-outline {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff; }
  .btn--white-outline::after {
    background-color: #ffffff; }

.btn-main-animate {
  animation: moveInUp 2s ease-out 2s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #60d65b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #60d65b;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #023300;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  width: 25rem;
  position: relative; }
  .card__side {
    background-color: #ffffff;
    height: 50rem;
    width: 25rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg);
      display: flex;
      justify-content: center;
      align-items: center; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #60d65b, #023300); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ff8a00, #023300); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 16rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #60d65b, #011801), url(../../img/img-3.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ff8a00, #011801), url(../../img/img-4.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #60d65b, #011801), url(../../img/img-5.jpg); }
  .card__heading {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 300;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 11rem;
    transform: rotate(354deg); }
    .card__heading--3 {
      right: 12rem; }
  .card__heading-span {
    padding: 0 5px; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(96, 214, 91, 0.85), rgba(1, 24, 1, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 138, 0, 0.85), rgba(1, 24, 1, 0.85)); }
  .card__details {
    text-align: center;
    margin: 0 auto;
    width: 80%; }
    .card__details ul {
      list-style: none;
      padding: 1rem 0 2rem; }
      .card__details ul li {
        font-size: 1.5rem;
        padding: 0.8rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px dotted #eee; }
  .card__scale {
    transform: scale(1.15); }

.composition {
  position: relative; }
  .composition__photo {
    display: inline-block;
    width: 30rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem; }
    .composition__photo--img1 {
      left: 0;
      top: -2rem; }
    .composition__photo--img2 {
      left: 15rem;
      top: 2rem; }
    .composition__photo--img3 {
      left: 5rem;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.5rem solid #eee;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  width: 24rem;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .feature-box__icon {
    font-size: 5rem;
    background-image: linear-gradient(to right, #60d65b, #011801);
    display: inline-block;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 1.5s; }
  .feature-box:hover {
    background-color: #ffffff; }
  .feature-box:hover .feature-box__icon {
    transform: rotateY(180deg); }
  .feature-box:not(:last-child) {
    margin-right: 1rem; }

.testimonial {
  width: 40%;
  background-color: #ffffff;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  font-size: 1.6rem;
  display: flex;
  position: relative; }
  .testimonial__info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; }
    .testimonial__info--photo {
      border-radius: 50%;
      width: 9rem;
      height: 9rem;
      margin-right: 2rem; }
    .testimonial__info--name {
      font-size: 1.6rem;
      font-weight: 700;
      color: #60d65b; }
    .testimonial__info--date {
      font-size: 1.2rem; }
  .testimonial__text {
    padding: 0 1.6rem;
    position: relative;
    z-index: 2; }
    .testimonial__text::before {
      content: "\201C";
      position: absolute;
      top: 1.15rem;
      left: -2.5rem;
      font-size: 19rem;
      color: #f1f1f1;
      font-family: sans-serif;
      z-index: -1; }
  .testimonial::before {
    content: "";
    width: 5rem;
    height: 100%;
    background-color: #023300;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%); }
  .testimonial::after {
    content: "";
    width: 3rem;
    height: 5rem;
    background-color: #023300;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%); }

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 100vh; }

.header {
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 10; }
  .header__logo {
    height: 3.5rem; }
  .header__content {
    display: flex;
    flex-direction: column;
    height: 100vh; }
  .header__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 20vh;
    margin-bottom: 15vh;
    z-index: 10; }
  .header::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #011801, rgba(2, 51, 0, 0.6));
    clip-path: polygon(0 0, 60% 0, 50% 100%, 0 100%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0; }
  .header__features {
    display: flex;
    justify-content: center;
    z-index: 20; }

.section-about {
  background-color: #f7f7f7;
  padding: 10rem 1.6rem; }

.section-about__content {
  display: flex; }

.section-about__content-descrip {
  width: 60%;
  padding: 0 1.6rem; }

.section-pricing {
  padding: 10rem 1.6rem 20rem;
  width: 100.1%;
  background-color: #011801;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='600' height='300'%3E%3Cpath fill='%23bfbfbf' fill-opacity='0.1' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  margin-top: -10%; }
  .section-pricing__description {
    color: #ffffff;
    padding: 1.6rem;
    width: 60%; }
  .section-pricing__content {
    display: flex;
    justify-content: space-evenly; }

.section-testimonials {
  padding: 6rem 1.6rem 15rem; }
  .section-testimonials__content {
    display: flex;
    justify-content: space-around; }

.section-gallery-cover {
  background-color: #ffffff;
  padding: 10rem 1.6rem 0; }

.section-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 25vw);
  grid-gap: 0.5rem;
  padding: 0.5rem; }
  .section-gallery__item {
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-out; }
    .section-gallery__item--hover {
      position: absolute;
      color: #ffffff;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: translateY(102%);
      text-align: center;
      background-color: rgba(1, 24, 1, 0.8);
      transition: opacity 0.7s, transform 0.5s ease-out;
      display: flex;
      justify-content: center;
      align-items: center; }
    .section-gallery__item:hover .section-gallery__item--hover {
      opacity: 1;
      transform: translateY(0); }
    .section-gallery__item:hover .section-gallery__img {
      transform: scale(1.05); }
    .section-gallery__item--1 {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1; }
    .section-gallery__item--2 {
      grid-row: 1 / span 1;
      grid-column: 2 / span 2; }
    .section-gallery__item--3 {
      grid-row: 1 / span 2;
      grid-column: 4 / span 1; }
    .section-gallery__item--4 {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2; }
    .section-gallery__item--5 {
      grid-row: 2 / span 1;
      grid-column: 3 / span 1; }
    .section-gallery__item--6 {
      grid-row: 3 / span 1;
      grid-column: 1 / span 1; }
    .section-gallery__item--7 {
      grid-row: 3 / span 1;
      grid-column: 2 / span 2; }
    .section-gallery__item--8 {
      grid-row: 3 / span 1;
      grid-column: 4 / span 1; }
  .section-gallery__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s; }

.section-go-contact {
  width: 100%;
  height: 30rem;
  background-color: #011801;
  background-image: linear-gradient(rgba(1, 24, 1, 0.5), rgba(1, 24, 1, 0.8)), url("https://images.unsplash.com/photo-1611207900337-87daa2757b28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  .section-go-contact__content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

.section-contact {
  padding: 6rem 1.6rem 15rem; }
