//Colors

// $color-primary: #5e1861;
// $color-primary-light: #9d42a0;
// $color-primary-dark: #350435;

// $color-primary: #5e1861;
$color-primary: #023300;
$color-primary-dark: #011801;

$color-secondary: #ff8a00;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #444;

$color-white: #ffffff;
$color-black: #000000;

// FONT
$default-font-size: 1.6rem;
