//Colors

$color-primary-light: #4eda9f;
$color-primary-medium: #30a661;
$color-primary: #2a9267;
$color-primary-medium-dark0: #065f49;
$color-primary-medium-dark: #004836;
$color-primary-dark: #03241b;

$color-secondary: #5c8118;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #f1f1f1;
$color-grey-light-4: #d8d8d8;

$color-grey-dark-1: #444;
$color-grey-dark-2: #777;
$color-grey-dark-3: #1a1a1a;

$color-white: #ffffff;
$color-black: #000000;

// FONT
$default-font-size: 1.6rem;
$font-size-12: 1.2rem;
