@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/bg-video";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/form";
@import "components/navigation";
@import "components/testimonial";

@import "layout/footer";
@import "layout/header";

@import "pages/home";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
