.footer {
  background-color: $color-primary-dark;
  padding: 7rem 1.6rem 2rem;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  & .leaves {
    display: none;
  }

  @include respond(phone) {
    display: flex;
    justify-content: space-between;

    & .leaves {
      display: inline-block;
    }
  }

  &__content {
    padding-left: 1.6rem;

    @include respond(phone) {
      padding-right: 3rem;
    }

    @include respond(phone) {
      & .navigation .navigation__list {
        flex-direction: column;
      }
    }
  }

  &__copyright {
    border-top: 1px solid $color-grey-light-4;
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;
    opacity: 0.6;
  }
}

.logo-DM {
  height: 1.8rem;
  width: auto;
  display: inline-block;
  vertical-align: text-bottom;
  padding-left: 0.4rem;
  // opacity: 0.8;
}
