.header {
  padding: 3rem 1.6rem 0rem;
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;

  &__logo-nav {
    display: flex;
    justify-content: space-between;
  }

  &__logo-box {
    z-index: 10;
  }

  &__logo {
    display: inline-block;
    height: 6rem;
    width: 12rem;
    background-image: url("../../img/logo.svg");
    background-repeat: no-repeat;
    background-size: 12rem 6rem;
  }

  &__navigation {
    font-size: 1.6rem;
    margin-right: 2rem;
    z-index: 10;
  }

  &__content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100vh;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 20vh;
    margin-bottom: 15vh;
    z-index: 10;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 1),
      rgba($color-primary, 0.6)
    );
    clip-path: polygon(0 0, 60% 0, 50% 100%, 0 100%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &__features {
    display: flex;
    justify-content: center;
    z-index: 20;
  }
}
