.header {
  padding: 0 1.6rem;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.75),
      rgba($color-white, 0.01)
    ),
    url("../img/hero-small.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em) {
    background-image: linear-gradient(
        to bottom,
        rgba($color-black, 0.75),
        rgba($color-white, 0.01)
      ),
      url("../img/hero.jpg");
  }

  &__logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    z-index: 10;
    padding: 3rem 0 0 3rem;
  }

  &__logo {
    display: inline-block;
    height: 6rem;
    width: 12rem;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: 12rem 6rem;
  }

  &__navigation {
    font-size: 1.6rem;
    margin-right: 2rem;
    z-index: 10;
  }

  &__content {
    display: flex;
    align-items: center;
    height: calc(90% - 16rem);
  }

  &__text-box {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;

    @include respond(big-phone) {
      width: 100%;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.9),
      rgba($color-secondary, 0.3)
    );
    clip-path: polygon(0 0, 55% 0, 45% 100%, 0 100%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    @include respond(tab-port) {
      clip-path: polygon(0 0, 80% 0, 60% 100%, 0 100%);
    }

    @include respond(big-phone) {
      clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    }
  }
}
