.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-color-secondary {
    color: $color-white;
    background-color: $color-secondary;

    &::after {
      background-color: $color-secondary;
    }
  }

  &-main-animate {
    animation: moveInUp 2s ease-out 2s;
    animation-fill-mode: backwards; // the button will not apear before the animation
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary-light;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary-light;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(0);
  }
}
