.card {
  //Card functionality
  perspective: 150rem; // a very high number for a smooth rotation
  -moz-perspective: 150rem;
  height: 50rem; // it loose his height when you add position absolute
  width: 25rem;
  position: relative;

  @include respond(big-phone) {
    height: auto;
    width: 50rem;
    margin-bottom: 3rem;
    background-color: $color-white;
  }

  @include respond(phone) {
    width: 28rem;
  }

  &__side {
    background-color: $color-white;
    height: 50rem;
    width: 25rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;

    @include respond(big-phone) {
      height: auto;
      width: 50rem;
      position: relative;
    }

    @include respond(phone) {
      width: 28rem;
    }

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond(big-phone) {
        transform: rotateY(0);
        padding: 5rem 0 3rem;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
      }

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-primary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary,
          $color-primary-dark
        );
      }
    }

    &--scale {
      height: 55rem;
      width: 26rem;
      top: -2.5rem;

      @include respond(big-phone) {
        height: 50rem;
        width: 50rem;
        top: 0;
      }

      @include respond(phone) {
        width: 28rem;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);

    @include respond(big-phone) {
      transform: rotateY(0);
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  //Front side styling
  &__picture {
    background-size: cover;
    height: 16rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    @include respond(big-phone) {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../../img/img-7-small.jpg);
      @include background-image-center;
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary,
          $color-primary-dark
        ),
        url(../../img/img-4-small.jpg);
      @include background-image-center;
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../../img/img-2-small.jpg);

      @include background-image-center;
    }
  }

  &__heading {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 300;
    color: $color-white;
    position: absolute;
    top: 1rem;
    right: 11rem;
    transform: rotate(354deg);

    &--3 {
      right: 12rem;
    }
  }

  &__heading-span {
    padding: 0 5px;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
  }

  &__details {
    text-align: center;
    margin: 0 auto;
    width: 80%;

    ul {
      list-style: none;
      padding: 1rem 0 2rem;

      li {
        font-size: 1.5rem;
        padding: 0.8rem;

        &:not(:last-child) {
          border-bottom: 1px dotted $color-grey-light-2;
        }
      }
    }
  }
}
