.composition {
  position: relative;
  width: 35%;
  margin: 0 2rem;

  @include respond(big-phone) {
    position: relative;
    width: 100%;
    margin: 10rem 2rem;
    display: flex;
    justify-content: center;
    z-index: 5;
  }

  &__photo {
    display: inline-block;
    width: 85%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.5s;
    outline-offset: 1rem;

    @include respond(big-phone) {
      width: 70%;
    }

    &--img1 {
      left: 0;
      top: -2rem;

      @include respond(big-phone) {
        position: relative;
      }
    }

    &--img2 {
      left: 6rem;
      top: 6rem;
      @include respond(big-phone) {
        left: 4rem;
        top: 12rem;
      }

      @include respond(phone) {
        left: 2rem;
        top: 8rem;
      }
    }

    &:hover {
      transform: scale(1.06);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
      outline: 1rem solid #eeeeee;
    }
  }
}
