.navigation {
  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited,
    &--active {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all;
    }

    &:hover,
    &:active,
    &--active {
      color: $color-primary-light;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(-5deg) scale(1.15);
      transform-origin: top right;
    }
  }
}
