.testimonial {
  width: 40%;
  background-color: $color-white;
  padding: 3rem;
  font-size: $default-font-size;
  display: flex;
  position: relative;
  box-shadow: 0 1.5rem 2rem rgba($color-black, 0.4);

  @include respond(big-phone) {
    width: 70%;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &--photo {
      border-radius: 50%;
      width: 9rem;
      height: 9rem;
      margin-right: 2rem;
    }

    &--name {
      font-size: $default-font-size;
      font-weight: 700;
      color: $color-primary-light;
    }

    &--date {
      font-size: $font-size-12;
    }
  }

  &__text {
    padding: 0 1.6rem;
    position: relative;
    z-index: 2;

    &::before {
      content: "\201C";
      position: absolute;
      top: 1.15rem;
      left: -2.5rem;
      font-size: 19rem;
      color: $color-grey-light-3;
      font-family: sans-serif;
      z-index: -1;
    }
  }

  &::before {
    content: "";
    width: 5rem;
    height: 100%;
    background-color: $color-primary-medium;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
  }

  &::after {
    content: "";
    width: 3rem;
    height: 5rem;
    background-color: $color-grey-light-3;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
}
