body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-1 {
  color: $color-white;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
  backface-visibility: hidden; //remove the small shaking from the animation

  &--main {
    display: inline-block;
    font-size: 4rem;
    letter-spacing: 1rem;
    animation: moveInLeft 3s ease-in;

    @include respond(big-phone) {
      font-size: 3rem;
    }
  }

  &--main-sec {
    color: $color-secondary;
  }

  &--secondary {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation: moveInRight 3s ease-in;

    @include respond(big-phone) {
      font-size: 1.3rem;
      letter-spacing: 0.9rem;
    }
  }
}

.heading-2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 1.6rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  //linear gradient for header
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 2;

  @include respond(big-phone) {
    font-size: 3rem;
  }

  &::before {
    content: "";
    width: 10rem;
    height: 5rem;
    background-image: url("../../img/leaves.svg");
    background-repeat: no-repeat;
    background-size: 10rem 5rem;
    position: absolute;
    top: -2.7rem;
    left: 0;
  }
}

.heading-2-white {
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-white;
}

.heading-3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-grey-light-1;
  display: inline-block;

  &__back {
    font-size: 9rem;
    color: #eeeeee;
    position: absolute;
    text-transform: uppercase;
    top: -30px;
    left: 46px;
    z-index: 1;
    @include respond(big-phone) {
      font-size: 7rem;
      top: -23px;
    }
  }
}

.heading-4 {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.heading-5 {
  font-size: 3rem;
  color: $color-primary-dark;

  @include respond(big-phone) {
    font-size: 2rem;
  }
}
