.u-text-center {
  text-align: center;
}

.u-center-box {
  display: flex;
  justify-content: center;
}

.u-mb-bigger {
  margin-bottom: 10rem;
}

.u-mb-big {
  margin-bottom: 8rem;

  @include respond(big-phone) {
    margin-bottom: 6rem;
  }
}
.u-mb-big-med {
  margin-bottom: 6rem;
}

.u-mb-medium {
  margin-bottom: 4rem;

  @include respond(big-phone) {
    margin-bottom: 2.5rem;
  }
}
.u-mb-small {
  margin-bottom: 2rem;
}

.u-pt-big {
  padding-top: 8rem;
}
.u-pt-big-med {
  padding-top: 6rem;
}

.u-text-cut {
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through;
}

.pos-rel {
  position: relative;
}
