.section-features {
  display: flex;
  justify-content: center;
  z-index: 20;
  position: absolute;
  bottom: -13rem;
  left: 0;
  width: 100%;
}

.section-about {
  padding: 22rem 1.6rem 14rem;
}

.section-about__content {
  display: flex;
  @include respond(big-phone) {
    flex-direction: column;
  }
}

.section-about__content-descrip {
  width: 60%;
  padding: 0 1.6rem;

  @include respond(big-phone) {
    width: 100%;
  }
}

.section-pricing {
  padding: 21rem 1.6rem 22rem;
  width: 100.1%;
  background-color: $color-primary-dark;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='600' height='300'%3E%3Cpath fill='%23bfbfbf' fill-opacity='0.1' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  margin-top: -10%;

  &__description {
    color: $color-white;
    padding: 1.6rem;
    width: 60%;
  }

  &__content {
    display: flex;
    justify-content: space-evenly;

    @include respond(big-phone) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.section-testimonials {
  padding: 12rem 1.6rem 15rem;

  &__content {
    display: flex;
    justify-content: space-around;

    @include respond(big-phone) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.section-gallery-cover {
  background-color: $color-white;
  padding: 12rem 1.6rem 0;
}

.section-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 25vw);
  grid-gap: 0.5rem;
  padding: 0.5rem;

  &__item {
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-out;

    &--hover {
      position: absolute;
      color: $color-white;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: translateY(102%);
      text-align: center;
      background-color: rgba($color-primary-dark, 0.8);
      transition: opacity 0.7s, transform 0.5s ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover &--hover {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover .section-gallery__img {
      transform: scale(1.05);
    }

    &--1 {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }

    &--2 {
      grid-row: 1 / span 1;
      grid-column: 2 / span 2;
    }

    &--3 {
      grid-row: 1 / span 2;
      grid-column: 4 / span 1;
    }

    &--4 {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
    }

    &--5 {
      grid-row: 2 / span 1;
      grid-column: 3 / span 1;
    }

    &--6 {
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
    }

    &--7 {
      grid-row: 3 / span 1;
      grid-column: 2 / span 2;
    }

    &--8 {
      grid-row: 3 / span 1;
      grid-column: 4 / span 1;
    }

    // &:hover {
    //   transform: scale(1.3);
    //   border: 5px solid $color-white;
    // }
  }

  &__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover; // it works only with wdth and heigh
    transition: transform 1s;
  }
}

.section-go-contact {
  width: 100%;
  height: 30rem;
  background-color: $color-primary-dark;
  background-image: linear-gradient(
      rgba($color-primary-dark, 0.5),
      rgba($color-primary-dark, 0.8)
    ),
    url("https://images.unsplash.com/photo-1611207900337-87daa2757b28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  &__content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.section-contact {
  position: relative;
  padding: 12rem 1.6rem 15rem;

  &__content {
    width: 80%;
    height: 50rem;
    background-image: linear-gradient(
      100deg,
      $color-primary-medium 0%,
      $color-primary 40%,
      $color-white 40%
    );
    background-size: 100%;
    box-shadow: 0 1.5rem 2rem rgba($color-black, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 5rem;
  }
}

.contact {
  &__adress {
    flex: 0 1 28%;

    ul {
      list-style: none;
      color: $color-grey-light-2;

      li {
        margin-bottom: 2rem;
        font-size: $default-font-size;
      }
    }

    &--email {
      cursor: pointer;

      &:hover {
        color: $color-primary-light;
        text-decoration: underline;
      }
    }
  }
  &__form {
    flex: 0 1 50%;
  }
}
